*{
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
}
.primary-btn{
    border: 0;
    border-radius: 6px;
    font-size: 20px;
    padding: 15px 35px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 500;
    background-color: #FD6E0A;
    cursor: pointer;
}
button i{
    margin-right:6px;
    font-weight: 400;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;
    margin-bottom: 30px;
}
.section-description{
    font-size: 18px;
    line-height: 30px;
    color:#757575;
    margin-bottom: 30px;
}

/* Nav style */
header{
    background-color: #FFF8F3;
    background-image: 
    url("../images/header_bg.png"),
    url("../images/developer.png");
    background-position: bottom right, left;
    background-repeat: no-repeat;
    
}
nav{
    
    display: flex;
    justify-content: space-between;
   padding: 40px 0;
}
.site-logo h2{
    font-family: 'Righteous', cursive;
    font-size: 40px;
    letter-spacing: 1.2px;
}
.site-logo h2 span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    gap: 30px;
    align-items:center ;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

/* banner style */

.banner{
    /* padding: 100px 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
   
}

.banner-text .banner-sub-title{
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 5px;
}
.banner-text .banner-title{
    font-weight: 600;
    font-size: 65px;
    line-height: 80px;
    color: #181818;
    margin-bottom: 20px;
}
.banner-text .banner-description{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.banner-text .contact-btn{
    border-radius: 6px;
    font-size: 20px;
    padding: 15px 35px;
    font-weight: 500;
    margin-left: 30px;
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    cursor: pointer;
}
.banner-text .contact-btn i{
    color: #FD6E0A;
}

.banner-img img{
    background-position: right bottom;
    background-size: cover;
}

/* about-us style */

.about{
    margin-top:130px;
}
.about-us{
    padding: 130px 150px;
    background-color: #FFF8F3;
    border-radius: 10px;
    text-align: center;
}
.find-us{
    display: flex;
    justify-content: space-around;
}
.our-details h4{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.our-details h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

/* what-i-do style */

.what-i-do{
    margin: 130px auto;
    text-align: center;
}
.what-i-do .section-description{
    padding: 0 10%;
}
.services{
    display: flex;
    gap: 25px;
    margin-top: 50px;
}
.our-service{
    text-align: left;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.our-service img{
    margin-bottom: 25px;
}
.our-service h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    margin-bottom: 25px;
}
.our-service p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* resume style */
.resume{
    text-align: center;
    margin-bottom: 130px;
}
.resume-details{
    display: flex;
    margin-top: 80px;
    gap: 24px;
    text-align: left;
}
.resume-main-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-title{
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 10px;
    margin-top:30px;
    color: #474747;
}
.resume-sub-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;

}
.resume-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

.resume-btn{
    margin-top:50px;
}

/* footer style */
footer{
    background-color: #FFF8F3;
}
.footer-widget{
    padding: 130px 0;
    display: flex;
    gap: 120px;
}
.left-widget,
.right-widget{
    flex: 1;
}
.left-widget .widget-description{
    padding: 20px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
}
.left-widget ul{
    display: flex;
    padding: 0;
}
.left-widget ul li{
    list-style: none;
}
.left-widget ul li a{
    margin: 0 30px 0 0;
}

.right-widget .form-group{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}
.right-widget .form-group input,
.right-widget .form-group textarea{
    padding: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    border: 0;
    border-radius: 5px;
}
hr{
    color: #d1d1d1;
}